{% if examplesPresent %}
    <td>
        <input type="checkbox" disabled="true" checked></input>
    </td>
{% else %}
    <td>
        <input type="checkbox" disabled="true"></input>
    </td>
{% endif %}
<td>
    {{ method }}
</td>
<td>
    {{ url }}
</td>
<td>
    <a href="#sendBox/{{ model.id }}">
        <button class="btn">More</button>
    </a>
</td>
