<input title="filter" class="form-control dt-filter"/>
<table class="table table-hover">
    <tr>
        <td>
            examples
        </td>
        <td>
            method
        </td>
        <td>
            url
        </td>
        <td>
            try
        </td>
    </tr>
    <tbody class="dt-routes-container">
    </tbody>
</table>