{% if method == 'GET' %}
   <input title="method" class="dt-method" type="radio" name="methods" value="GET" checked>
{% endif %}

{% if method == 'POST' %}
    <input title="method" class="dt-method" type="radio" name="methods" value="POST" checked>
{% endif %}

{% if method == 'PUT' %}
    <input title="method" class="dt-method" type="radio" name="methods" value="PUT" checked>
{% endif %}

{% if method == 'PATCH' %}
    <input title="method" class="dt-method" type="radio" name="methods" value="PATCH" checked>
{% endif %}

{% if method == 'DELETE' %}
    <input title="method" class="dt-method" type="radio" name="methods" value="DELETE" checked>
{% endif %}
<label>{{method}}</label>


<br />
Url:<input title="url" class="form-control dt-url" value="{{ path }}"/>
<br />

<table class="table">
    <tbody>
    <tr>
        <td>Request</td>
        <td>Response&nbsp;<span class="dt-status"></span></td>
    </tr>
    <tr>
        <td style="width: 50%">
           <textarea style="resize: none; height: 300px" title="input" class="dt-input form-control">{{lastExampleRequest}}</textarea>
      </td>
        <td style="width: 50%">
           <textarea style="resize: none; height: 300px" title="output" class="dt-output form-control"></textarea>
        </td>
    </tr>
    </tbody>
</table>
<button class="btn dt-send">send</button>
