<!DOCTYPE html>
<html>
<head>
    <script id="routes">
        var routes = '{{ROUTES}}'
    </script>
    <script id="examples">
        var examples = '{{EXAMPLES}}'
    </script>
    <script id="config">
        var config = '{{CONFIG}}'
    </script>
    <script id="main-script">
    document.addEventListener("DOMContentLoaded", function(event) {
        '{{MAIN_SCRIPT}}'
    });
    </script>
    <style>
        '{{BOOTSTRAP}}'
    </style>
</head>
<body>
<div class="container">
    Loading ApiDoc...
</div>
</body>
</html>
